<mat-nav-list>
  <a
    *ngIf="!isAuth"
    mat-list-item
    routerLink="/signup"
    routerLinkActive="active"
    (click)="onToggleSidenav()"
  >
    <mat-icon>person_add</mat-icon><span class="nav-caption">Signup</span>
  </a>
  <a
    *ngIf="!isAuth"
    mat-list-item
    routerLink="/login"
    routerLinkActive="active"
    (click)="onToggleSidenav()"
  >
    <mat-icon>login</mat-icon><span class="nav-caption">Login</span></a
  >
  <a
    *ngIf="isAuth"
    mat-list-item
    routerLink="/training"
    routerLinkActive="active"
    (click)="onToggleSidenav()"
  >
    <mat-icon>fitness_center</mat-icon
    ><span class="nav-caption">Training</span></a
  >
  <mat-list-item *ngIf="isAuth">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>logout</mat-icon><span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
